
#introduction {
    width: 100%;
    padding: 62px 97px;
    background-color: #D8E5FF;
}

#introduction h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    color: #0E2F71;
    margin-bottom: 75px;
}

#introduction h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    color: #D2580B;
    line-height: 1.25;
}

.introduction-items__wrapper {
    width: 100%;
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

#introduction .intro-card {
    max-width: calc((100% - 80px) / 3);
    min-width: 340px;
    padding: 20px;
    min-height: 460px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px rgba(245, 138, 71, 0.22);
    background-color: #BCD2FF;
    flex-wrap: wrap;
}

#introduction .intro-card__desc {
    font-family: 'Open Sans';
    font-size: 16px;
}

#introduction .intro-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

